{# Settings dictionary with default values #}

{% set default_settings = {
    'diamond': {
        'prefix': 'diamond',
        'interval': 60,
        'graphite': {
            'host': 'graphite.hostname'
        },
        'version': '4.0.332'
        }
    }
 %}

{# Update settings defaults from pillar data #}
{% set diamond_settings = salt['pillar.get']('diamond', default=default_settings.diamond, merge=True) %}
